.gallery {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    justify-content: center;
}

.gallery li {
    width: 280px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.gallery li:hover {
    transform: translateY(-4px);
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.gallery ul {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;   
   
}

.gallery ul li {
    width: 50%;
    margin-bottom: 12px;
}

/* Текст */
.gallery li h3 {
    padding: 0 10px;
    font-size: 13px;
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 3px;
}

.gallery li p {
    padding: 0 10px;
    font-weight: 600;
    font-size: 14px;
}
